html {
  /* Modifying the root font size */
  font-size: 10px;
}
.container {
  height: 100vh;
  display: flex;
}
.navbar {
  padding: 2rem;
}
.content {;
  padding: 1rem;
  flex-grow: 1;
}
.header {
  padding: 1rem;
  margin-bottom: 1rem;
}
.about {
  background-color: yellowgreen;
  padding: 1rem;
  margin-bottom: 1rem;
}
.projects {
  background-color: moccasin;
  padding: 1rem;
  margin-bottom: 1rem;
}
.cards-container {
  display: flex;
  background-color: darkorange;
  flex-wrap: wrap;
}

 .card {
  background-color:orchid;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  
}
.card-image-container {
  background-color: deepskyblue;
  height: 20rem;
  margin-bottom: 1rem;

}
/* Image not loading  */
.card-image { 
  height:100%;
  max-width:100%;
}

.card-title {
  background-color: olive;
  margin-bottom: 1rem;
  padding: 1rem;

}
.card-subtitle{
  background-color: rebeccapurple;
  margin-bottom: 1rem;
  padding: 1rem;

}
.card-info{
  background-color: thistle;
  padding: 1rem;

}




/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
TODO
/* Mobile */
/* @media screen and (max-width:TODO) { 
  .container {
    flex-direction:column;
   }
  } */
